$primaryButtonColor: #CF4D35;

.button {
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    gap: 8px;
    z-index: 2;
    border-radius: 99px;
    opacity: 1;
    background: $primaryButtonColor;
    color: #D8D8D8;
    border-style: none;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    &.text {
        font-size: 16px;
    }

    .__icon {
        width: 16px;
        height: 16px;
        z-index: 1;
    }
}
